html body {
	margin: 10px auto;
	padding: 0px;
	text-align: center;
	background-color: rgb(68,92,96);
}

/*.container {
	border: 1px solid red;
}*/

#banner {
	margin-bottom: 30px;
	border-radius: 50%;
	box-shadow: 0px 10px 22px #000;
}

button { 
	outline: none;
	border-radius: 15px;
	width: 160px;
	height: 60px;
	box-shadow: 0px 0px 12px #fff;
	margin-bottom: 20px;
	font-family: 'Eagle Lake', cursive;
	font-weight: bold;
	font-size: 1.2em;
}

button:hover {
	background-color: #c0c0c0;
}

button:active {
	background-color: #c0c0c0;
	box-shadow: 0px 0px 10px #fff;
	transform: translateY(4px);
}

form {
	display: none;
	margin-bottom: 20px;
}

p {  
	/*color: #daa520;*/
	/*color: #ffd700;*/
	color: #ffff00;
	line-height: 2em;
	font-size: 1.5em;
	text-shadow: 0px 2px #000;
	/*font-family: 'Quintessential', cursive;*/
	font-family: 'Eagle Lake', cursive;
	/*font-family: 'Courgette', cursive;*/
}

label { 
	line-height: 1.5em;
	color: #add8e6;
	/*color: #f0e68c;*/
	/*color: #daa520;*/
	/*font-family: 'Quintessential', cursive;*/
	/*font-family: 'Eagle Lake', cursive;*/
	font-family: 'Courgette', cursive;
	text-shadow: 0px 2px #000;
}

#submit {
	margin-top: 20px;
	display: none;
}

.results {
	display: none;
}
